.chat_main {
  background-color: #222222;
  margin: 15px;
  width: 85%;
  height: 90vh;

  padding-block: 25px;
  padding-inline: 20px 40px;  
  border-radius: 20px;

  position: relative;;
}

.scrollable{
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar{
  display: none;
}

.msg_box{
  position: absolute;
  width: 80%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #3b3b3b;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 1rem 1.4rem;

  border: 1px solid rgba(128, 128, 128, 0.4);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2), -2px -2px 10px 0px rgba(0, 0, 0, 0.2);
}

.msg_box textarea{
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--background);
}

.send_btn{
  border: none;
  outline: none;
  align-self: flex-end;
  padding: 4px 6px;
  border-radius: 50%;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    padding-inline: 20px;

    font-weight: 400;
    font-size: clamp(0.85rem, 1vw, 2rem);
    line-height: 1.5rem;
    word-spacing: 1.5px;
}

.message{
    max-width: 75%;
    color: var(--background);
    background-color: rgba(59, 59, 59, 0.4);
    
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2), -2px -2px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.user{
    align-self: flex-end;
}

.assistant{
    align-self: flex-start;
}

.scrollable h2{
    color: var(--background);
    font-size: clamp(1.2rem, 1.8vw, 2rem);
    padding-inline: 15px;
}

.scrollable hr{
    padding-inline: 10px;
    margin-block: 10px 40px;
}

@media (max-width: 780px) {
  .chat_main {
    height: 84vh;
    padding-inline: 20px;
    width: 100%;
  }
  .msg_box{
    margin-inline: 0;
  }
}
