.mainNav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.7);
}

.navTop {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.scrolled {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.mainLogo {
    font-size: 1.6rem;
    font-weight: 500;
}

.navCenter {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.navCenter a {
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navCenter a:hover {
    color: var(--gray);
}

.navBtn {
    background: none;
    outline: none;
    border: none;
    display: none;
    justify-self: end;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.navBtn:hover {
    color: var(--gray);
}

.logout_nav{
    background-color: transparent;
    border: none;
    outline: none;
    justify-self: end;
    font-size: 1rem;
    cursor: pointer;
}

.sideNav {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    width: 220px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sideNav.open {
    transform: translateX(0%);
}

.sideNav a {
    transition: color 0.2s ease-in-out;
}

.sideNav a:hover {
    color: var(--gray);
}

.add_new{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    display: grid;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap:10px;
    transition: opacity 0.2s ease-in;
}

.add_new span{
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: 300;
}

.add_new:hover{
    opacity: 0.6;
}

.sideNav hr{
    margin-bottom: 20px;
}

.sideNav h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sideNav p{
    font-size: 0.9rem;
    padding-top: 7px;
}

@media (max-width: 780px) {
    .navTop {
        grid-template-columns: 1fr auto;
    }

    .navCenter, .logout_nav {
        display: none;
    }

    .navBtn {
        display: block;
    }
}
