.summary{
    color: var(--background);
    margin-right: 12px;
    margin-bottom: 120px;
}

.summary h2{
    font-size: clamp(1.2rem, 1.8vw, 2rem);
}

.summary hr{
    margin-block: 10px 20px;
}

.summary_l1, .summary_l2, .summary_l3, .summary_l4, .summary_l5{
    padding-left: 20px;
    line-height: 1.5rem;
    font-size: clamp(0.85rem, 1vw, 2rem);
}

.summary_l3{
    cursor: pointer;
}

@media (max-width: 780px) {
    .summary hr{
        margin-block: 6px 16px;
    }
    .summary_l1, .summary_l2, .summary_l3, .summary_l4, .summary_l5{
        padding-left: 10px;
    }
}